body {
  background-color: black;
  text-align: center;
}

a:link {
  color: white;
}

a:visited {
  color: orangered;
}

a:hover {
  color: black;
}

a:active {
  color: brown;
}


.App {
  text-align: center;
}

/* .main{

} */

#nav {
  display: flex;
  justify-content: space-evenly;
}

.title {
  color: orange;
  font-size: 60px;
  font-family: "Lucida Console", Courier, monospace;
}
